# # VITE_API_BASE_URL=http://localhost:8000/api
# VITE_API_BASE_URL=http://192.168.1.7:8000/api

# # VITE_API_BASE_URL=https://herbal-api.easybizcart.com/api

# 192.168.1.3


VITE_PROJECT_NAME=herbal
# VITE_PROJECT_NAME=hamsini



#  VITE_API_BASE_URL=https://api-ecom-demo.easybizcart.com/public/api
# VITE_API_BASE_URL_Image_URl=https://api-ecom-demo.easybizcart.com/public/storage

#  VITE_API_BASE_URL=https://stars-companies-months-genetic.trycloudflare.com/api
# VITE_API_BASE_URL_Image_URl=https://stars-companies-months-genetic.trycloudflare.com/storage  

#  WHATSAPP_API_BASE_URL=https://api.360messenger.com/v2
#  VITE_API_BASE_URL=http://127.0.0.1:8000/api

# VITE_API_BASE_URL_Image_URl=http://127.0.0.1:8000/storage  





#  VITE_API_BASE_URL=https://unprojecting-deposable-carey.ngrok-free.dev/api
# VITE_API_BASE_URL_Image_URl=https://unprojecting-deposable-carey.ngrok-free.dev/storage  


#  VITE_API_BASE_URL=https://   .easybizcart.com/public/api
# VITE_API_BASE_URL_Image_URl=https://api-hamsini.easybizcart.com/storage  




VITE_API_BASE_URL=https://api-herbal.easybizcart.com/public/api
VITE_API_BASE_URL_Image_URl=https://api-herbal.easybizcart.com/public/storage

# VITE_API_BASE_URL=https://api-hamsini.easybizcart.com/public/api
# VITE_API_BASE_URL_Image_URl=https://api-hamsini.easybizcart.com/storage


# VITE_API_BASE_URL=https://api.lmshowroom.com/public/api
# VITE_API_BASE_URL_Image_URl=https://api.lmshowroom.com/public/storage